.index{
    width: 100%;
    height: 100%;
    background: #5a5757;
}
section{
    width: 1000px;
    height: 100%;
    background: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-p{
    height: 30px;
}
.con{
    flex: 1;
}