html, body, #root, .index {
  width: 100%;
  height: 100%;
}

.index {
  display: flex;
}

.left-ani, .right-ani {
  width: 300px;
  height: auto;
  background: #999;
}

section {
  flex: 1;
  background: #666;
}
