html,body,#root,.box{
    width: 100%;
    height: 100%;
}
.box{
    display: flex;
    flex-direction: column;
}
.App{
    display: flex;
    flex: 1;
}
.header{
    width: 100%;
    height: 68px;
    background: #666;
    
    display: flex;
    .search{
        width: 1067px;
        border-left:1px solid #999;
        border-right:1px solid #999;
        display: flex;
        justify-content: center;
        align-items: center;
        .ser{
            width: 500px;
            height: 40px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background: #fff;
            border-radius: 2px;
        }
    }
    .left,.right{
        flex: 1;
    }
}
.left-ani,.right-ani{
    width: 300px;
    height: 100%;
    background: #999;
    position: relative;
}
section{
    flex:1;
}
